@model IEnumerable<Tour_MVC.Models.ThiSinh>

<div id="main">
    <div style="min-width:300px" class="border border-dark border-5 rounded">
        <div style="padding:16px">
            <div class="form-group">
                    <label class="control-label">Khoá thi</label>
                     <select id="makhoa" asp-items="ViewBag.selectListKhoaThi" class="form-control">
                    </select>
            </div>
            <div class="form-group">
                    <label class="control-label">Phòng thi</label>
                     <select id="maphong" asp-items="ViewBag.selectListPhongThi" class="form-control">
                    </select>
            </div>
            <div class="form-group">
                    <input type="button" id="search" value="Tra cứu" class="btn btn-success" />
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover mt-3">
    <thead>
        <tr>
            <th>
                Số báo danh
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                Khoá thi
            </th>
            <th>
                Phòng thi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sbd)
                </td>
                 <td>
                    @item.CccdNavigation.HoNguoiDung @item.CccdNavigation.TenNguoiDung
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhongNavigation.MaKhoaThiNavigation.TenKhoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhongNavigation.TenPhong)
                </td>
                <td>
                        <a class = "btn btn-info"    asp-controller="TraCuu" asp-action="ThongTin" asp-route-cccd="@item.Cccd">Thông tin thí sinh</a>
                        <a class = "btn btn-warning" asp-controller="TraCuu" asp-action="TraCuu" asp-route-cccd="@item.Cccd">Kết quả thi</a>
                        <a class = "btn btn-success" asp-controller="ChungNhan" asp-action="ChungNhan" asp-route-maphong="@item.MaPhong" asp-route-cccd="@item.Cccd" >Chứng nhận kết quả</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            $('#search').click((e) => {
                    $.post('/phongthi/ajaxSearchPhongThi',{MaPhong :$('#maphong').val(),MaKhoa :$('#makhoa').val()},(data) => {
                        console.log(data);
                        if(data.length > 0){
                            if($('.table') != null){
                                 $(".table").remove();
                            }
                            var headers = ["Số báo danh","Họ và tên", " Khoá thi", " Phòng thi",""];
                            var table = document.createElement("TABLE");  //makes a table element for the page
                            table.className = "table table-striped table-bordered table-hover mt-5" ;                           

                            data.forEach((item,index) => {
                                var row = table.insertRow(index);
                                row.insertCell(0).innerHTML = item.sbd 
                                row.insertCell(1).innerHTML = item.cccdNavigation.hoNguoiDung + " " + item.cccdNavigation.tenNguoiDung;
                                row.insertCell(2).innerHTML = `Khóa Thi Tháng  ${item.maPhongNavigation.maKhoaThi}/2021`;
                                row.insertCell(3).innerHTML = item.maPhongNavigation.tenPhong;
                                row.insertCell(4).innerHTML = ` <a class = "btn btn-info"    href="/TraCuu/ThongTin?cccd=${item.cccd}">Thông tin thí sinh</a>
                                                                <a class = "btn btn-warning" href="/TraCuu/TraCuu?cccd=${item.cccd}">Kết quả thi</a>
                                                                <a class = "btn btn-success" href="/ChungNhan/ChungNhan?maphong=${item.maPhong}&cccd=${item.cccd}">Chứng nhận kết quả</a>`                       
                            })

                            var header = table.createTHead();
                            var headerRow = header.insertRow(0);
                            headers.forEach((item,index) => {
                                headerRow.insertCell(index).outerHTML = `<th>${item}</th>`;
                            })

                            $('#main').append(table);
                            alert("Tìm thành công");
                        }else{
                            alert("Chưa có dữ liệu người dùng");
                        }
                    });
            });
        });
    </script>
}
